.header {
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.icon {
    font-size: 2em;
    margin: 0px 20px;
}

.overall {
    display: flex;
}

.content {
    padding: 25px;
    width: 100%;
}